<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ladokgi.apps" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ladokgi" >
        <activity
            android:name=".UploadGambarGigi"
            android:exported="true" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".daftarpasien.EditPasienActivity" />
        <activity android:name=".CreatePasienActivity" />
        <activity android:name=".konsultasi.KonsultasiReviewActivity" />
        <activity android:name=".daftarpasien.DaftarPasienActivity" />
        <activity android:name=".daftarpasien.ResetPasswordActivity" />
        <activity android:name=".konsultasi.KonsultasiPasienActivity" />
        <activity android:name=".AspekNonPerilaku" />
        <activity android:name=".AspekPerilakuActivity" />
        <activity
            android:name=".register.RegistrasiActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".homepage.DokterActivity"
            android:label="@string/title_activity_dokter" />
        <activity android:name=".login.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homepage.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ladokgi.apps.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>